<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<fieldset>
	<legend>Create Event</legend>
	<div class="clearfix">
      <label for="xlInput">Name</label>
      <div class="input">
		<%= f.text_field :name, :class=>'xlarge' %>
      </div>
    </div>
	<div class="clearfix">
      <label for="xlInput">Description</label>
      <div class="input">
		<%= f.text_field :description, :class=>'xlarge' %>
      </div>
    </div>
	<div class="clearfix">
      <label for="xlInput">Start Date</label>
      <div class="input">
		<%= f.date_select :start_date, :class=>'xlarge' %>
      </div>
    </div>
	<div class="clearfix">
      <label for="xlInput">End Date</label>
      <div class="input">
		<%= f.date_select :end_date, :class=>'xlarge' %>
      </div>
    </div>
</fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>