<div class="row">
<div class="span12">Category 1</div>
<% @events.each do |event| %>
  <div class="event span4">
    <h2><%= event.name %></h2>
    <p><%= event.description %></p>
    <p>
		<%= link_to 'View details »', event, :class=>'btn' %>
		<!--
		<td><%= link_to 'Edit', edit_event_path(event) %></td>
	    <td><%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %></td>-->
	</p>
  </div>
<% end %>
</div>
<%= link_to 'New Event', new_event_path %>