<%= form_for(@venu) do |f| %>
  <% if @venu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venu.errors.count, "error") %> prohibited this venu from being saved:</h2>

      <ul>
      <% @venu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address1 %><br />
    <%= f.text_field :address1 %>
  </div>
  <div class="field">
    <%= f.label :addresss %><br />
    <%= f.text_field :addresss %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
