<h1>Listing venus</h1>

<table>
  <tr>
    <th>Address1</th>
    <th>Addresss</th>
    <th>City</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venus.each do |venu| %>
  <tr>
    <td><%= venu.address1 %></td>
    <td><%= venu.addresss %></td>
    <td><%= venu.city %></td>
    <td><%= venu.state %></td>
    <td><%= link_to 'Show', venu %></td>
    <td><%= link_to 'Edit', edit_venu_path(venu) %></td>
    <td><%= link_to 'Destroy', venu, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venu', new_venu_path %>
