<p id="notice"><%= notice %></p>

<p>
  <b>Address1:</b>
  <%= @venu.address1 %>
</p>

<p>
  <b>Addresss:</b>
  <%= @venu.addresss %>
</p>

<p>
  <b>City:</b>
  <%= @venu.city %>
</p>

<p>
  <b>State:</b>
  <%= @venu.state %>
</p>


<%= link_to 'Edit', edit_venu_path(@venu) %> |
<%= link_to 'Back', venus_path %>
