<div class="hero-unit row">
	<div class="span12 desc">
		<h1>Grab your Shows/Events.</h1>
		<p>In just one click!</p>
	</div>
</div>

<div class="row recommend">
	<div class="span6">
		<h5>Talk of the town</h5>
		<h3>Events being shared</h3>
		<div>
			<div id="fb-root"></div>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=116489561790243";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-recommendations" data-site="eventbrite.com" data-width="300" data-height="200" data-header="false" data-border-color="whiteSmoke" data-font="arial"></div>
		</div>
	</div>
	<div class="span9">
		<h5>Popular events in</h5>
		<h3>Bangalore</h3>
		<table cellpadding="0">
		            <tbody>
		                <tr>
		                    <td class="desc_col"><a href="http://prohibition2012nye-ehometext.eventbrite.com">PROHIBITION 2012 - A NEW YEARS EVE CASINO NIGHT</a></td>
		                    <td class="date_col">Dec 31</td>
		                    <td class="attend_share_col">
								<a href="http://prohibition2012nye-ehomebtn.eventbrite.com" class="label success">picktick</a>
		                    </td>
		                </tr>
		                <tr>
		                    <td class="desc_col"><a href="http://chicagonyeballroomblitz-ehometext.eventbrite.com">Chicago New Year's Eve Party - Hyatt Regency Chicago's NYE Ballroom Blitz</a></td>
		                    <td class="date_col">Dec 31</td>
		                    <td class="attend_share_col">
		                        <a href="http://chicagonyeballroomblitz-ehomebtn.eventbrite.com" class="label success">picktick</a>
		                    </td>
		                </tr>
		                <tr>
		                    <td class="desc_col"><a href="http://nyeball2012-ehometext.eventbrite.com">San Francisco NYE Int'l Ball 2012 at PALACE HOTEL by Aykut Events</a></td>
		                    <td class="date_col">Dec 31</td>
		                    <td class="attend_share_col">
		                        <a href="http://nyeball2012-ehomebtn.eventbrite.com" class="label success">picktick</a>
		                    </td>
		                </tr>
		                <tr>
		                    <td class="desc_col"><a href="http://la-new-years-ehometext.eventbrite.com">Cleopatra's 2nd Annual 2012 New Year's Eve Ball</a></td>
		                    <td class="date_col">Dec 31</td>
		                    <td class="attend_share_col">
		                        <a href="http://la-new-years-ehomebtn.eventbrite.com" class="label success">picktick</a>
		                    </td>
		                </tr>
		                <tr>
		                    <td class="desc_col"><a href="http://restore2012-ehometext.eventbrite.com">Restore 2012 - New Year's Eve Benefit Party</a></td>
		                    <td class="date_col">Dec 31</td>
		                    <td class="attend_share_col">
		                        <a href="http://restore2012-ehomebtn.eventbrite.com" class="label success">picktick</a>
		                    </td>
		                </tr>
		                <tr>
		                    <td class="desc_col"><a href="http://2012bangaloreworkshop-ehometext.eventbrite.com">Advanced Product Management and Marketing Workshop Bangalore</a></td>
		                    <td class="date_col">Jan 12</td>
		                    <td class="attend_share_col">
		                        <a href="http://2012bangaloreworkshop-ehomebtn.eventbrite.com" class="label success">picktick</a>
		                    </td>
		                </tr>
		                <tr>
		                    <td class="desc_col"><a href="http://asad-ehometext.eventbrite.com">Hioldon</a></td>
		                    <td class="date_col">Feb 1</td>
		                    <td class="attend_share_col">
		                        <a href="http://asad-ehomebtn.eventbrite.com" class="label success">picktick</a>
		                    </td>
		                </tr>
		            </tbody>
		        </table>
	</div>
</div>

<div class="row recommend">
	<h3>The good word</h3>
	<h2>Event news & blog posts</h2>
	<div class="span5">
	    <a href="http://blog.eventbrite.com/new-years-eve-survival-guide">
            <img src="http://eventbrite-build.s3.amazonaws.com/admin/marketing/featuredblogs/nye_homepage.jpg">
            <div>Your New Year's Eve Survival Guide</div>
        </a>
	</div>
	<div class="span5">
	    <a href="http://blog.eventbrite.com/new-years-eve-survival-guide">
            <img src="http://eventbrite-build.s3.amazonaws.com/admin/marketing/featuredblogs/nye_homepage.jpg">
            <div>Your New Year's Eve Survival Guide</div>
        </a>
	</div>
	<div class="span5">
	    <a href="http://blog.eventbrite.com/new-years-eve-survival-guide">
            <img src="http://eventbrite-build.s3.amazonaws.com/admin/marketing/featuredblogs/nye_homepage.jpg">
            <div>Your New Year's Eve Survival Guide</div>
        </a>
	</div>
</div>