<!DOCTYPE html>
<html>
<head>
  <title>TicketCollect</title>
	<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="topbar">
	<div class="fill">
		<div class="container">
			<a class="brand fonter" href="#">PickTicks</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="hero-unit row">
		<div class="span4 desc">
			<h1>Grab your Shows/Events.</h1>
			<p>In just one click!</p>
		</div>
		<div class="span9">
		<p>Sign up for exclusive access to our beta release in the coming weeks!</p>
		<form>
			<fieldset>
				<div class="clearfix">
					<div class="input">
						<div class="input-prepend">
							<span class="add-on">email/phone</span>
							<input class="medium" id="prependedInput" name="prependedInput" size="16" type="text" />
							<a class="btn info">Subscribe »</a>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	</div>
	<div class="social row">
		<div class="span12">
			<h2><%= COMPANY_NAME %></h2>
			<p><%= PRODUCT_INFO%></p>
		</div>
		<div class="span3">
			<h5>Share</h5>
			<div style="float:right">
				<span style="display:block;padding:5px">
					<div id="fb-root"></div>
					<script>(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=116489561790243";
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));</script>
					<div class="fb-like" data-href="http://www.facebook.com/arvind.thatikonda" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false" data-font="trebuchet ms"></div>
				</span>
				<span style="display:block;padding:5px">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="karthik001" data-hashtags="picktick">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>			</span>
				<span style="display:block;padding:5px">
					<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
					<script type="IN/Share" data-counter="right"></script>
				</span>
				<span style="display:block; padding:5px">
					<!-- Place this tag where you want the +1 button to render -->
					<g:plusone annotation="inline" width="120"></g:plusone>

					<!-- Place this render call where appropriate -->
					<script type="text/javascript">
					  (function() {
					    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
					    po.src = 'https://apis.google.com/js/plusone.js';
					    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
					  })();
					</script>
				</span>
			</div>
		</div>
	</div>
	
<!--footer>
        <p>© Company 2011</p>
</footer-->
</body>
</html>