<!DOCTYPE html>
<html>
<head>
  <title>TicketCollect</title>
	<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topbar">
	      <div class="topbar-inner">
	        <div class="container-fluid">
	          <a class="brand" href="#">Project name</a>
	          <ul class="nav">
	            <li class="active"><a href="#">Home</a></li>
	            <li><a href="#about">About</a></li>
	            <li><a href="#contact">Contact</a></li>
	          </ul>
	          <p class="pull-right">Logged in as <a href="#">username</a></p>
	        </div>
	      </div>
	    </div>
		<div class="container-fluid">

		      <div class="sidebar">
		        <div class="well">
		          <h5>Sidebar</h5>
		          <ul>
		            <li><a href="#">Link</a></li>
		            <li><a href="#">Link</a></li>
		            <li><a href="#">Link</a></li>
		            <li><a href="#">Link</a></li>
		          </ul>
		          <h5>Sidebar</h5>
		          <ul>
		            <li><a href="#">Link</a></li>
		            <li><a href="#">Link</a></li>
		            <li><a href="#">Link</a></li>
		            <li><a href="#">Link</a></li>
		            <li><a href="#">Link</a></li>
		            <li><a href="#">Link</a></li>
		          </ul>
		          <h5>Sidebar</h5>
		          <ul>
		            <li><a href="#">Link</a></li>
		            <li><a href="#">Link</a></li>
		          </ul>
		        </div>
		      </div>
		      <div class="content">
				<%= yield %>
		        <!-- Main hero unit for a primary marketing message or call to action
		        <div class="hero-unit">
		          <h1>Event Name</h1>
		          <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		          <p><a class="btn primary large">Learn more »</a></p>
		        </div>
 -->
		        <!-- Example row of columns 
		        <div class="row">
				<div class="span12">Category 1</div>
		          <div class="event span6">
		            <h2>Event 1</h2>
		            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		            <p><a class="btn" href="#">View details »</a></p>
		          </div>
		        </div>

		        <hr>
		        <div class="row">
				<div class="span12">Category 2</div>
		          <div class="span6">
		            <h2>Heading</h2>
		            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		            <p><a class="btn" href="#">View details »</a></p>
		          </div>
		        </div>
			-->
		        <footer>
		          <p>© Company 2011</p>
		        </footer>
		      </div>
		    </div>
</body>
</html>