<!DOCTYPE html>
<html>
<head>
  <title>TicketCollect</title>
	<link href='http://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="topbar">
	      <div class="topbar-inner">
	        <div class="container-fluid">
	          <a class="brand" href="#">Project name</a>
	          <ul class="nav secondary-nav">
	            <li><a href="#about">Find Events</a></li>
	            <li><a href="#contact">Learn more</a></li>
				<li><a href="#contact">Help</a></li>
				<li><a href="#contact">Signup</a></li>
				<li><a href="#contact">Login</a></li>
	          </ul>
	        </div>
	      </div>
	    </div>
		<div class="container">
			<div class="content">
				<%= yield %>
		        <!-- Main hero unit for a primary marketing message or call to action
		        <div class="hero-unit">
		          <h1>Event Name</h1>
		          <p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		          <p><a class="btn primary large">Learn more »</a></p>
		        </div>
 -->
		        <!-- Example row of columns 
		        <div class="row">
				<div class="span12">Category 1</div>
		          <div class="event span6">
		            <h2>Event 1</h2>
		            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		            <p><a class="btn" href="#">View details »</a></p>
		          </div>
		        </div>

		        <hr>
		        <div class="row">
				<div class="span12">Category 2</div>
		          <div class="span6">
		            <h2>Heading</h2>
		            <p>Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
		            <p><a class="btn" href="#">View details »</a></p>
		          </div>
		        </div>
			-->
		        <footer>
		          <div class="row">
		          	<div class="span3">
						<h6>About us</h6>
						<ul>
							<li><a>About us</a></li>
							<li><a>Contact us</a></li>
							<li><a>Pricing</a></li>
							<li><a>Referal program</a></li>
							<li><a>Press</a></li>
						</ul>
					</div>
					<div class="span4">
						<h6>How To</h6>
						<ul>
							<li><a>Sell tickets online</a></li>
							<li><a>Free online event registration</a></li>
							<li><a>Promote Events Online</a></li>
							<li><a>Collect Donations online</a></li>
							<li><a>Send email invitations</a></li>
							<li><a>Publish Event to Facebook</a></li>
						</ul>
					</div>
					<div class="span4">
						<h6>Resources</h6>
						<ul>
							<li><a>Help Center</a></li>
							<li><a>Eventbrite Blog</a></li>
							<li><a>Partnerships and Resources</a></li>
							<li><a>Eventbrite on Twitter</a></li>
							<li><a>Developer API</a></li>
							<li><a>Site Map</a></li>
						</ul>
					</div>					
		          </div>
		        </footer>
		      </div>
		    </div>
</body>
</html>